.az_image_area {
    /* background-image: url("../custome_assets/Specialities.png"); */
    background-position: center center;
    background-size: cover;
    padding: 0px 0 40px 0;
    position: relative;
}

.text-blue {
    color: #6827fd !important;
}

.witr_ds_content_inner h2,
.witr_ds_content_inner h3 {}

@media (min-width: 1140px) {
    .container {
        max-width: 1350px;
    }
}

.em-service-icon img {
    width: 3.5rem;
}


.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.social-icons a:hover {
    background: #6827fd;
}

.social-icons a {
    background: #6827fd75;
    color: #ffffff;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .social-icons a {
        margin-right: 5px;
    }
}

.text-align-justify {
    text-align: justify;
}

.az_fea_area,
.az_choose_area,
.az_about_area,
.az_team_area,
.az_faq_area,
.az_portfolio_area,
.azela_blog_area,
.az_brand_area {
    padding: 40px 0 50px;
}

/* {
    padding: 120px 0px 40px 0px;
} */

.az_brand_area {
    background: #6827fdc2 !important;
}

.witr_counter_number_inn h3,
.witr_counter_number_inn span {
    font-size: 32px Im !important;
}

.az_brand_area img {
    border-radius: 30px 30px 30px 30px;
}

@media (max-width: 320px) {
    .witr_ds_content {
        height: 140px !important
    }
}


@media (min-width: 320px) and (max-width: 375px) {
    .witr_ds_content {
        height: 140px !important
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .witr_ds_content {
        height: 175px !important;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .witr_ds_content {
        height: 360px !important;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .witr_ds_content {
        height: 480px !important;
    }
}

@media (min-width: 1199px) {
    .witr_ds_content {
        height: 480px !important;
    }
}